In [4]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [6]:
csv_path = "Pokemon.csv" # csv 경로
o_data = pd.read_csv(csv_path) # csv 불러오기
o_data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [9]:
pokemon = o_data.copy() # 원본 데이터 복사
pokemon.shape # 데이터 행, 열
pokemon.head() # 상위 5개 출력

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [13]:
c_pokemon = pokemon[pokemon["Legendary"] == False].reset_index(drop = True) # 일반 포켓몬을 인덱스를 초기화 시켜서 넣기
c_pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
731,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
732,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
733,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
734,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False

In [14]:
l_pokemon = pokemon[pokemon["Legendary"] == True].reset_index(drop = True) # 전설 포켓몬을 인덱스를 초기화 시켜서 넣기
l_pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
1,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
2,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
3,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
4,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
61,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
62,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
63,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
64,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [15]:
pokemon.isnull().sum() # 포켓몬 널 더하기

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [18]:
pokemon.columns
len(pokemon.columns) # 열 개수

13

In [19]:
pokemon.info() # 각 속성 정보

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [20]:
pokemon["#"].nunique() # id 고유 값

721

In [21]:
pokemon["Name"].nunique() # 이름 고유 값

800

In [22]:
pokemon.iloc[[6, 10]] # 6, 10 위치 가져오기

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False

In [23]:
pokemon.loc[[6, 10]] # 이름 6, 10 위치 가져오기

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False

In [24]:
pokemon.iloc[[6, 10]] # 6, 10 위치 가져오기

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False

In [26]:
pokemon["Type 1"].unique() # 타입1 고유 값

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [27]:
pokemon["Type 1"].nunique() # 타입1 고유 값 숫자

18

In [25]:
len(pokemon["Type 2"].unique()) # 타입2 고유 값 숫자 len

19

In [28]:
pokemon["Type 2"].nunique() # 타입2 고유 값 숫자 nunique

18

In [29]:
set(pokemon["Type 1"]) # 타입1 집합

{'Bug',
 'Dark',
 'Dragon',
 'Electric',
 'Fairy',
 'Fighting',
 'Fire',
 'Flying',
 'Ghost',
 'Grass',
 'Ground',
 'Ice',
 'Normal',
 'Poison',
 'Psychic',
 'Rock',
 'Steel',
 'Water'}

In [30]:
len(set(pokemon["Type 1"])) # 타입1 집합 갯수

18

In [31]:
len(set(pokemon["Type 2"])) # 타입2 집합 갯수

19

In [32]:
set(pokemon["Type 1"]) - set(pokemon["Type 2"]) # 차집합 타입1 - 타입2

set()

In [33]:
set(pokemon["Type 2"]) - set(pokemon["Type 1"]) # 차집합 타입2 - 타입1

{nan}